.sidebar
{
    height: 100%;
    overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.card
{
    text-align: center;
}
